<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>
        Lista de Tarefas</h1>
    <form id="taskForm">
        <input type="text" id="title" placeholder="Título" required>
        <input type="text" id="description" placeholder="Descrição" required>
        <button type="submit">Adicionar</button>
    </form>
    <ul id="taskList"></ul>
    <script src="script.js" defer></script>
</body>

</html>